<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Relationship</span>
	                    </li>
	                </ul>
	                
	            </div>
	        </nav>
	
	        <div class="container">     
	            	            
	            <div class="table-responsive">
	            
	            	
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th>Cartório</th>
	                        <th>Endereço</th>
	                        <th>Certidão</th>	                     
	                        <th>Ação</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="r : ${relacaocartcerts}">		                    
		                        <td th:text="${r.id}">2</td>
		                        <td th:text="${r.cartorio.nome}">Ana Maria Lindoval</td>		                        
		                        <td>
		                            <button type="button" class="btn btn-secondary btn-sm" data-container="body"
		                                    data-toggle="popover" data-placement="top"
		                                    th:attr="data-content=${#strings.concat(
			                                    r.cartorio.endereco.logradouro, ', ', 
			                                    r.cartorio.endereco.numero, ' ',
			                                    r.cartorio.endereco.bairro, ', ',
			                                    r.cartorio.endereco.cidade, ' - ', 
			                                    r.cartorio.endereco.uf.sigla, ' - ',
			                                    r.cartorio.endereco.cep
		                                    )}">
		                                
		                                <span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
		                            </button>
		                        </td>
		                        <td th:text="${r.certidao.nome}">Nascimento</td>
		                       	<td>acão</td>	                       
		                        <td colspan="2">		                       
		                    </tr> 
	                    </tbody>
	                </table>
	            </div>
	        </div>
	        
	        
	    </section>
</body>
</html>		